.leftNav {
    float: left;
    width: 12%;
    min-height: 100%;
    background-color: #273d3a;
  }
  .leftNav > .leftNav_list_wrapper {
    list-style-type: none;
    padding-left: 15px;
    margin-top: 25px;
  }
  .leftNav_list_wrapper > .leftNav_list{
    margin: 10px 10px 25px 10px;
    color: white;
}